<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="HD.LOCALHOST" connectionString="Server=ya-vsdbtest-01.hsvsdmz.local;Port=5432;User Id=hd_os;Password=os123!;Database=vidb05;" />
    
    <!--<add name="HD.PROD" connectionString="Server=ya-vsdbprod-01.hsvsdmz.local;Port=5432;User Id=hd_os;Password=os123!;Database=vidb05;Connection Timeout=600; Default Command Timeout = 420" />-->
  </connectionStrings>
  <appSettings>
    <add key="Environment.LAVSIISD01" value="DEV" />
    <add key="Environment.LAVSIISQ01" value="TEST" />
    <add key="Environment.PHVSIISP02" value="PROD" />

    <add key="LogFilePath" value="C:\HCR\log" />
    <add key="LogFileName" value="hcr_log_" />
    <add key="RunDate" value="2015-04-04" />
  </appSettings>
</configuration>